<header class="header"></header>
<main class="content">
</div>

<script>
  $(document).ready(function(){
    Sonido.initialize();
    <% if signed_in? %>
      Sonido.currentUser = new Sonido.Models.User({id: <%= current_user.id %>})
      Sonido.currentUser.fetch()
    <% end %>
  });
</script>
