<li class="song">
  <ul class="song_attributes">
    <li class="song_attribute">
      song.title
    </li>
    <li class="song_attribute">
      <%= link_to "See" + song.title + "Lyrics", songs_url(song), method: :get %>
    </a>
    <li class="song_attribute">
      
    </li>
  </ul>
</li>
