  <section class="sidebar">
    <ul class="sidebarlinks">
      <li class="sidebarlink">
        <a href="#/users/<%=  %>" > Playlists </a>
      </li>
      <li class="sidebarlink">
        <a href="#/user/"> Tracks </a>
      </li>
      <li class="sidebarlink">
        <a href="<%= edit_user_url(current_user) %>"> Change settings </a>
      </li>
      <li class="sidebarlink">
        <a href="<%= song_likes_url %>"> See your likes </a>
      </li>
    </ul>
