    <ul class="sidebarlinks">
      <li class="sidebarlink">
        <a href="#/users/<%= currentUser.get("id") %>/playlists" > Playlists </a>
      </li>
      <li class="sidebarlink">
        <a href="#/users/<%= currentUser.get("id") %>/tracks"> Tracks </a>
      </li>
      <li class="sidebarlink">
        <a href="#/users/<%= currentUser.get("id") %>/settings"> Change settings </a>
      </li>
      <li class="sidebarlink">
        <a href="#/users/<%= currentUser.get("id") %>/likes"> See your likes </a>
      </li>
    </ul>
