  <div class="navlinks">
    <ul class="sidebarlinks">
      <li class="sidebarlink">
        <a href="" > Home </a>
      </li>
      <li class="sidebarlink">
        <a href="#/users/<%= currentUser.get("id") %>/playlists" > Playlists </a>
      </li>
      <% if (currentUser.escape('account_type') === "artist") {%>
      <li class="sidebarlink">
        <a href="#/users/<%= currentUser.get("id") %>/tracks"> Tracks </a>
      </li>
      <% }  %>
      <li class="sidebarlink">
        <a href="#/users/<%= currentUser.get("id") %>/likes"> Likes </a>
      </li>
    </ul>
  </div>


    <div class="userlinks">
      <ul class="userinfo">
        <li class="userslink">
          <a href="#/users/<%= currentUser.get("id") %>/settings"> Change your settings </a>
        </li>
      </ul>
    </div>
