
<form class="signup">
  <h1> Sign Up </h1>
  <label for="username">Username</label>
  <input type="text" name="user[username]" id="username" value="">
  <br>
  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">
  <br>
  <label for="email"> Email </label>
  <input type="text" name="user[email]" value="">
  <br>
  <label>
    Image:
    <input type="file" name="recording[image]" id="input-post-image">
  </label>
  <img src="" id="preview-post-avatar">

  <input type="submit" value="Sign Up!">
  <div class="form-errors"></div>
</form>
