
<form class="inputform">
  <h1> Sign Up </h1>
  <label for="username">Username</label>
  <input type="text" name="user[username]" id="username" value="">
  <div class="errors inactive" id="usernameerrors"></div>
  <br>
  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">
  <div class="errors inactive" id="passworderrors"></div>
  <br>
  <label for="email"> Email </label>
  <input type="text" name="user[email]" value="" id="email">
  <div class="errors inactive" id="emailerrors"></div>
  <br>
  <label>
    Image:
    <input type="file" name="recording[image]" id="input-post-image">
  </label>
  <img src="" id="preview-post-avatar">
  <div class="errors inactive" id="avatarerrors"></div>
  <br>
  <label for="accounttype">Account Type</label>
  <select id="accounttype" class="accounttype" name="user[account_type]">
    <option value="listener">Listener</option>
    <option value="artist">Artist</option>
  </select>
  <div class="errors inactive" id="account_typeerrors"></div>
  <br>
  <button class="demouser">Demo User</button>

  <input class="submitinput" type="submit" value="Sign Up!">
</form>
