
    <label> Title:
      <input type="text" name="recording[title]">
    </label>

    <label> Description:
      <textarea name="recording[description]">
      </textarea>
    </label>

    <label>
      Image:
      <input type="file" name="recording[image]" id="input-post-image">
    </label>

    <img src="" id="preview-post-image">



    <select name="recording[recording_type]">
      <option value="album"> Album</option>
      <option value="single"> Single </option>
      <option value="ep"> EP </option>
    </select>
    <br>
    <input type="submit" class="submit" value="Make new recording">
