  <label for id="title"> Title: </label>
  <input type="text" id="title" name="playlist[title]" value="<%= playlist.title %>">
  <br>
  <select id="playliststaus" name="playlist[status]">
      <option value="public">Public</option>
      <option value="private">Private</option>
  </select>
  <br>

  <input type="submit" class="playlistSubmit">
