<li>
  <ul class="songattributes">
    <li>
      Title: <%= song.title %>
    </li>
    <li>
      Artist: <%= song.artist.username %>
    </li>
    <li>
      Uploaded At: <%= song.created_at %>
    </li>
  </ul>
</li>
