<h1> Your Playlists </h1>


<a href="<%= new_playlist_url %>"> Add a New Playlist </a>
<br>
<label for="publicplaylist"> Public Playlists </label>
<section id="publicplaylist" class="public_playlist">
  <%= render partial: "playlist", collection: current_user.public_playlists, as: "playlist" %>

</section>
<br>
<label for="privateplauylist"> Private Playlists </label>
<section id="privateplaylist" class="private_playlist">
  <%= render partial: "playlist", collection: current_user.private_playlists, as: "playlist" %>
</section>
