<nav class="navbar">
    <ul class="userinfo">

      <li><%= currentUser.escape('username') %></li>
      <li>
        <div class="profile-picture">
          <img src="<%= currentUser.escape('avatar_url') %>">
        </div>


      <% if (currentUser.escape('account_type') === "artist") { %>
        <li>
          <button class="logout">
            Log Out
          </button>
        </li>
        <li>
          <a href="#/newRecording">
            <button>
              Release a New Album, EP or Single
            </button>
          </a>
        </li>
        <li>
          <a href="#/uploads">
            <button href=>
              View Your Uploads
            </button>
          </a>
        </li>

      <% } %>
    </ul>

</nav>
